
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

:root{ 


}
body{
    margin:0;
  padding:0;
}
.encabezado{
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 5px 5px rgb(143, 141, 141);
}


.arriba>h1{
    font-family: "Inspiration", cursive;
    font-weight: 200;
    font-style: normal;
    width: 200px;
    height: 50px;
    margin-top: 18%;
    font-size: 100%;
}
.arriba>img{
    margin-top: 18%;
    height: 25.5px;
    width: 50.39px;
    margin-right: 5%;
    
}
.arriba{
    display: flex;
  
}
.link{
    display: flex;
    
    
}
.link>ul{
    display: flex;
    margin-top: 10%;
    
    
}
.link>ul>li{
    list-style: none;
}
.boton{
    justify-content: end;
}
.Button_1{
    background: rgb(102,117,247);
    background: linear-gradient(58deg, rgba(102,117,247,1) 0%, rgba(87,0,123,1) 100%);
height: 42px;
width: 124px;
border-radius: 5px;
padding: 4px, 25px, 14px, 25px;
margin-top: 25%;
color: #ffffff;
font-weight: 500;
}
.imgp{
    display: flex;
    justify-content: center;
}
.parrafo{
    margin-top: 8%;
}
.Button_2{
    background-color: blue;
height: 70px;
width: 180px;
border-radius: 5px;
padding: 4px, 25px, 14px, 25px;
margin-top: 25%;
color: #ffffff;
font-weight: 800;
}
.multico{
    font-size: 120%;
    color:  rgb(13,28,159);
    font-weight: 600;
}
.negrita{
    font-weight: 900;
}
.parrafo>h1{
    font-weight: 400;
}
.parrafo>p{
    color: #4A5568;
}
.barra_intermedia{
    background-color: #F5F7FA;
    display: flex;
    justify-content: space-around;
}
.parrafo_barra>h1{
    color: #4D4D4D;
}

.multico_2{
    color:  #B6608C;
}
.imgs{
    display: flex;
}
.parr{
    margin-left: 15%;
}
.teximg{
    display: flex;
  flex-flow: row wrap;
  margin-top: 2%;

}
.pruebba{
    display: flex;
    flex-direction: column;
}
.pruebba>h3{
    display: flex;
}
.pru{
    display: flex;
}
.carucel{
    display: flex;
    justify-content: space-around;
    background-color: #b1aeb3;
}
.tele1{
    display: flex;
    justify-content: space-evenly;
    background-color: 
    #F1F2FF;
}

.telef{
    background-color:#E7DAED ;
}
.prr{
    background-color: 
    #F1F2FF;
    margin-top: 5%;
}
.prr>h6{
    font-weight: 900;
    text-align: center;
    font-size: 100%;
}
.parroo{
    justify-content: center;
    margin-left: 45%;
}
.final{
    background-color: #E7DAED;
    display: flex;
    justify-content: space-around;
}
.fin{
    background-color: #fceaea;
    border-radius: 3%;
    margin-top: 2%;
    
}